@media(max-width:768px){



.navbar{


flex-direction:column;

gap:20px;


}



.logo{


font-size:25px;


}




.birthday-card{


margin:20px;

padding:30px;


}




.birthday-card h1{


font-size:35px;


}



.date-box{


flex-direction:column;


}



.balloon{


font-size:50px;


}




}