@media(max-width:768px){



.navbar{

flex-direction:column;

}



.about-container{

flex-direction:column;

text-align:center;

}



.gallery-grid{

grid-template-columns:1fr;

}



.countdown div{

min-width:70px;

}



}