/* ABOUT SECTION */


.about-section{

padding:80px 8%;

background:white;

}



.about-container{

display:flex;

align-items:center;

gap:50px;

}



.about-image{

flex:1;

text-align:center;

}



.baby-placeholder{

width:250px;

height:250px;

border-radius:50%;

background:#eaf4ff;

display:flex;

align-items:center;

justify-content:center;

font-size:120px;

margin:auto;

}



.about-content{

flex:1;

}



.about-content h2{

font-size:40px;

color:#4a90e2;

}



.about-details{

display:flex;

gap:20px;

margin-top:30px;

flex-wrap:wrap;

}



.about-details div{

background:#fff8f0;

padding:20px;

border-radius:20px;

text-align:center;

}



/* COUNTDOWN */


.countdown{

display:flex;

justify-content:center;

gap:15px;

flex-wrap:wrap;

}



.countdown div{

background:#4a90e2;

color:white;

padding:20px;

border-radius:20px;

min-width:90px;

}


.countdown h3{

font-size:35px;

}